*{
    margin: 0;
    padding: 0;
    background-color:black;
    justify-content: space-evenly;
    overflow: hidden;
}
#banner{
    background-image: url(download\ \(3\).jpeg);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;

}
.banner-text{
    text-align: center;
    color: wheat;
    padding-bottom: 180px;
}
.banner-text h1{
    font-size: 130px;
}
.banner-text p{
    font-size: 50px;
    font-style: oblique;
}
.button{
    margin: 70px auto 0;

}
.button a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    border: 5px solid white;
    position: relative;
    z-index: 1;
    transition: color 0.5s;

}
.button a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}
.button a:hover span{
    width: 100%;

}
.button a:hover {
    color: black;
}


#nav-bar{
    width: 120px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    padding: 0;
    background: wheat;
    z-index: 2;
}
nav ul li{
    list-style: none;
    margin: 40px 20px;

}
nav ul li a{
    text-decoration: none;
    color: white;
}


